.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.nav {
    background-color: rgb(0, 89, 255);
    padding: 15px;
    grid-column-start: 1;
    grid-column-end: 2;
}

svg {
    fill: antiquewhite;
    width: 35px;
}

.dashboard-icon {
    display: flex;
    align-items: center;
    gap: 7px;
}

.dashboard-text {
    color: antiquewhite;
    font-weight: 600;
    font-size: large;
}
.icon {
    color: antiquewhite;
}

.text {
    color: antiquewhite;
}

.icon-container {
    margin-top: 1vh;
}

.nav-main, .nav-footer {
    margin-top: 5vh;
}

.dashboard {
    background-color: rgb(236, 234, 234);
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 2fr 2fr;
}
.dashboard-header {
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: white;
    padding: 15px;
    margin-bottom: 3vh;
}
.projects {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
    display: flex;
    flex-direction: column;
    padding: 2vw;
}

.header {
    display: flex;
    flex-direction: column;
}

#search-bar {
    width: 30vw;
    height: 30px;
    border: none;
    background-color: rgb(236, 234, 234);
    border-radius: 15px;
}

#search-bar:focus {
    border: none;
    outline: none;
}

.top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2vh;
}

.profile-pic {
    width: 40px;
    border-radius: 30px;
}

.top-side {
    display: flex;
    align-items: center;
    gap: 2vw;
}

.name {
    font-weight: 600;
}
.profile-pic-large {
    width: 50px;
    border-radius: 30px;
}
.bottom {
    padding: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-section {
    display: flex;
    align-items: center;
    gap: 1.5vw;
}

button {
    width: 80px;
    height: 30px;
    border-radius: 16px;
    border: none;
    color: white;
    background-color: rgb(0, 89, 255);
    margin-left: 1vw;
    transition: all 1s;
}

.h5 {
    font-weight: 600;
}

.project {
    background-color: white;
    padding: 2vw;
    border-radius: 4px;
    border-left: 5px solid goldenrod;
}

.project-elements {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 2vh;
}

.interact {
    display: flex;
    justify-content: space-between;
    margin-top: 5vh;
}

img {
    transition: all 1s;
}

img:hover {
    width: 60px;
    cursor: pointer;
}

button:hover {
    opacity: 0.6;
    cursor: pointer;
}

.announcements {
    padding: 2vw;
    display: flex;
    flex-direction: column;
}

.announcements-container {
    margin-top: 2vh;
    margin-bottom: 2vh;
    background-color: white;
    padding: 1.3vw;
    border-radius: 7px;
}

hr {
    background-color: rgb(236, 234, 234);
    height: 4px;
    border-radius: 2px;
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
    border: none;
}

.announcement-elements p {
    font-size: small;
    color: rgb(99, 99, 99);
}

.project p {
    font-size: medium;
    color: rgb(99, 99, 99);
}

.trending {
    display: flex;
    flex-direction: column;
}

.trending-container {
    background-color: white;
    padding: 1.5vw;
    border-radius: 5px;
    display: flex;
    gap: 4px;
}

.tag {
    font-weight: 600;
}

.description {
    font-size: small;
    color: rgb(99, 99, 99);
}

.comment-profile {
    width: 40px;
    border-radius: 30px;
}

.trending-user {
    background-color: white;
}
.trending {
    padding: 2vw;
}

@media screen and (max-width:500px) {
    .nav {
        display: none;
    }
}