.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.nav {
    background-color: rgb(0, 89, 255);
    padding: 15px;
}

svg {
    fill: antiquewhite;
    width: 35px;
}

.dashboard-icon {
    display: flex;
    align-items: center;
    gap: 7px;
}

.dashboard-text {
    color: antiquewhite;
    font-weight: 600;
    font-size: large;
}
.icon {
    color: antiquewhite;
}

.text {
    color: antiquewhite;
}

.icon-container {
    margin-top: 1vh;
}

.nav-main, .nav-footer {
    margin-top: 5vh;
}